@import url("https://use.typekit.net/eeq4fpo.css");
@import url("https://use.typekit.net/eeq4fpo.css");

html {
    background-color: #04172b;
}


@media (min-width: 1800px){
    .studyskills {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 20px;
    }
}
h1 {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f4ede8;
    padding-top: 20px;
    font-size: 40px;
}

.attractor {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    margin: 10px;
    text-align: center;

}

a {
    color: #ce9086;
    ;
}

.site-nav {
    text-align: left;
    overflow: hidden;
    background-color: #7D838E;
    padding: 2px ;
    font-size: 17px;
}

.site-nav li {
    display: inline;
    /* brings nav elements up next to each other */
    list-style-type: none;
    /* removes the bullet points */
    padding-right: 15px;
    margin: 10px;

    /* spaces them out from each other. Adjust to suit your needs */
}

.site-nav li a {
    color: #122539;
    /*    display: inline-block;*/
}


.site-nav a:hover {
    background-color: #122539;
    color: #ce9086;
    padding: 10px;
}

.tagline {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
}

.attractor{
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    margin: 10px;
    text-align: center;
    font-size: 1rem;
}

.intro {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    margin: 10px;
    text-align: center;
}

h3 {
    font-family: eurostile-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ce9086;
    padding: 5px;
    text-decoration-color: #9a8c98;
}

.smart {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #ce9086;
}

.skill {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    padding: 5px 10px 5px;
}

.studyskills {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 20px;

}


.studyskills h2 {
    grid-column: 1/-1;
    font-family: eurostile-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ce9086;
    padding: 10px;
}


.skill {
    border-style: solid;
    border-color: #9a8c98;
}

.featured {
    font-family: eurostile-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ce9086;
    padding: 10px;
}

.featured p {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
}

.credits {
    font-family: eurostile-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ce9086;
    padding: 10px;

}

.credits p {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
}

.site-footer {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    padding: 10px;
}

.site-footer p {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
}


h2 {
    font-family: eurostile-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ce9086;
    border-style: dashed;
    border-color: #9a8c98;
    padding: 10px;
    text-align: center;
    border-width: thin;

}

.whatisit {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
    margin: 10px;

}


.whyisiteffective {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
}

.howtouse {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8;
}

.whentouse {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8
}

.tipsandtricks {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8
}

.resources {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8
}


.aboutcontent {
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #f4ede8
}

.aboutcontent {
    margin: 20px;
}

li{
    margin-bottom: 1rem;
}
